@import '../settings';

.invalid {
  border-color: $error !important;
  border-width: 2px !important;
}

.empty {
  border-color: $warning !important;
  border-width: 2px !important;
}
.valid {
  border-color: $primary !important;
}
.default {
  color: $black;
}

.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}

.appear {
  animation-name: appear-smoothly;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}


.field {
  margin-top: 10px;
  .field-input {
    font-family: $global-font-family;
    vertical-align: top;
    border: none;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid $primary;
    transition: all 0.25s;
    width: 100%;
    color: $black;
    font-size: 16px;
    &:hover {

    }
    &:focus {

    }
  }
}

.push-msg {
  margin-left: 0px;
}

.input-msg {
  font-size: 14px;
  font-family: $global-font-family-light;
  display: inline-block;
  line-height: 1.4;
  margin-top: 5px;
  transition: all 0.25s;
  @extend .appear;
}

@keyframes appear-smoothly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
