@import '../settings';
@import '../global-styles';
@import '../animations';
@include foundation-reveal;


.popup {
  max-width: 800px;
  max-width: 100%;
  height: auto !important;
  transition: all 0.5s;
  width: 800px;
  .title-container {
    padding: 0px;
  }
  .wrap-popup-data {
    margin: 0px;
    color: $black;
    font-family: $global-font-family;
  }
}

.error-icon {
  color: $error !important;
}
.warning-icon {
  color: $warning !important;
}

.warning-title {
  color: $warning !important;
}

.error-title {
  color: #090809 !important;
}

.wrap-popup-loader {
  text-align: center;
  .spin {
    background-image: url(/images/spin.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
  }
}

.full-popup {
  .reveal {
    border: none;
    .wrap-perspective {
      box-shadow: none !important;
    }
  }
}

.reveal-overlay {
  @extend .appear;
  .reveal {
   /* @extend .scale-box;*/
    outline: none;
    perspective: 200px;
    min-height: 200px;
    overflow-y: visible !important;
    position: relative;
    background: none;
    padding: 20px;
    border: none;
    .wrap-perspective {
      background: white;
      border-radius: 3px;
      height: 100%;
      position: relative;
      top: 0px;
      left: 0px;
      margin: 0px auto;
      overflow: hidden;
      padding: 10px;
      .wrap-popup-title {
        text-align: left;
        padding-left: 15px;
        i {
          color: #2B2D42;
          font-size: 60px;
          margin-right: 10px;
        }
        span {
          display: block;
          margin-left: 70px;
          margin-top: -20px;
          margin-bottom: 10px;
        }
        h1 {
          font-size: 25px;
          margin-top: 0px;
        }
        i, h1 {
          display: inline-block;
          vertical-align: middle;
        }
      }
      /*@extend .perspective;*/
    }
  }
}

.wrap-popup-options {
  padding: 0px;
}

.wrap-popup-content {
  animation-delay: 0.25s;
}


.wrap-icon-close {
  float: right;
  i {
    cursor: pointer;
    color: red;
    margin: 0px;
    transition: all 0.25s;
    font-weight: 100;
    padding: 0px;
    border: 0px solid red;
    border-radius: 5px;
    &:hover {
      background: red;
      color: white;
    }
  }
}



@media screen and (max-width: 39.9375em) {
  .reveal {
    width: auto !important;
  }
}
